.cardLinkContainer {
 display: flex;
 flex-direction: column;
 padding: 20px;
 height: 100%;
}
.cardLinkContainer img{
    height: 60%;
object-fit: cover;

}
.rating{
    display: flex;
    gap: 5px;
    color: #000 ;
    font-weight: 700;
    text-decoration: none;
}