.checkout{
    margin-top: 50px;
    
}
.checkout .container{
    
    display: grid;
    grid-template-columns: 2fr 1fr;
  
    gap: 40px;
    padding: 40px;
}

@media (max-width:970px) {
    .checkout .container{
        grid-template-columns: 1fr;
    }
}